.issue-card {
  background-color: var(--white);
  width: 20vw;
  height: 20vw;
  max-width: 220px;
  max-height: 220px;
  min-height: 180px;
  min-width: 180px;
  padding: var(--content-padding-small);
  text-transform: uppercase;

  & .name {
    margin-bottom: 0;
    margin-top: 10px;
  }

  & .discipline {
    margin-bottom: 7px;
  }
}

@media only screen and (max-width: 700px) {
  .issue-card {
    width: 100vw;
    max-width: none;
    height: 78px;
    min-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    & .row {
      display: flex;
      justify-content: center;
    }

    & .top {
      align-items: flex-end;
    }

    & .left {
      text-align: right;
      width: 100px;
      padding-right: 16px;
    }

    & .name {
      margin-top: 0;
    }

    & .discipline {
      margin-bottom: 0;
      margin-left: 6px;
      order: 2;
    }

    & .right {
      flex: 1 0 auto;
    }

    & .discipline-group {
      display: flex;
      flex-wrap: nowrap;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .issue-card {
    padding: var(--content-padding-small-max);
  }
}
