.profile-hero {
  position: relative;
  margin-bottom: 12px;
}

.profile-hero-inner {
  margin: 0 var(--large);
}

.profile-card {
  position: absolute;
  top: var(--large);
}

.hero-image {
  width: 100%;
}

@media only screen and (max-width : 700px) {
  .profile-hero {
    margin-top: 10px;
  }

  .profile-card {
    position: relative;
    top: 0;
  }

  .profile-hero-inner {
    margin: var(--content-margin);
  }
}

@media only screen and (min-width : 1200px) {
  .profile-hero-inner {
    margin: 0 48px;
  }

  .profile-card {
    top: 48px;
  }
}
