.quote {
  --quote-text-line-height: 33px;

  padding: var(--large);
  background-color: var(--lightgray);
  line-height: var(--quote-text-line-height);

  & .credit {
    line-height: var(--quote-text-line-height);
    text-transform: uppercase;
  }

  & .text {
    line-height: var(--quote-text-line-height);
  }
}

@media only screen and (max-width: 700px) {
  .quote {
    padding: var(--xl);
  }
}

@media only screen and (min-width: 1200px) {
  .quote {
    padding: var(--large-max);
  }
}
