.issue-header {
  position: relative;
  margin-bottom: var(--content-block-gap);
}

.issue-header-inner {
  margin: 0 var(--content-margin-inner);
}

.issue-card {
  position: absolute;
  top: var(--content-margin-inner);
}

.hero-image {
  display: block;
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .issue-header {
    margin-bottom: var(--content-margin-outer);
  }

  .issue-card {
    position: relative;
    top: 0;
  }

  .issue-header-inner {
    margin: var(--content-margin-outer) var(--content-margin-outer) 0;
  }
}

@media only screen and (min-width: 1200px) {
  .issue-header-inner {
    margin: 0 var(--content-margin-inner-max);
  }

  .issue-card {
    top: var(--content-margin-inner-max);
  }
}
