.profile {
  background-color: var(--white);
  width: 20vw;
  height: 20vw;
  max-width: 220px;
  max-height: 220px;
  min-height: 160px;
  min-width: 160px;
  padding: 2vw;
  /* z-index: 1; */
}

.profile .name {
  margin-bottom: 0;
  margin-top: 10px;
}

.profile .icon {
  margin-top: 7px;
}

@media only screen and (max-width : 700px) {
  .profile {
    width: 100vw;
    max-width: none;
    height: 78px;
    min-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile .row {
    display: flex;
    justify-content: center;
  }

  .profile .top {
    align-items: flex-end;
  }

  .profile .column.left {
    text-align: right;
    width: 100px;
    padding-right: 16px;
  }

  .profile .name {
    margin-top: 0;
  }

  .profile .icon {
    margin-top: 0;
    margin-right: 6px;
    order: 1;
  }

  .profile .discipline {
    order: 2;
  }

  .profile .column.right {
    flex: 1 0 auto;
  }

  .profile .discipline-group {
    display: flex;
    flex-wrap: nowrap;
  }
}
