.content {
  --quote-width: calc(10 * var(--medium));
  --quote-width-max: calc(10 * var(--medium-max));

  background-color: var(--white);
  margin: 0 var(--large) var(--content-block-gap);
  padding: var(--small) 0;

  & .content-below-header {
    position: relative;
  }

  & .title,
  & .content-inner {
    padding: 0 var(--large);
  }

  & .content-inner {
    margin-right: calc(var(--quote-width) - var(--large));
  }

  & .title {
    margin-bottom: 12px;
  }

  & .quote {
    position: absolute;
    width: var(--quote-width);
    top: 0;
    right: calc(-1 * var(--content-margin-inner));
  }
}

@media only screen and (max-width: 700px) {
  .content {
    margin: 0 var(--medium) var(--medium);
    padding: var(--xl) 0;

    & .title,
    & .content-inner {
      padding: 0 6.25vw;
      margin: 0;
    }

    & .quote {
      right: 0;
      position: relative;
      width: auto;
      margin: var(--xl) calc(-1 * var(--xl));
    }
  }
}

@media only screen and (min-width: 1200px) {
  .content {
    margin: 0 var(--large-max) var(--content-block-gap);
    padding: var(--small-max) 0;

    & .title,
    & .content-inner {
      padding: 0 var(--large-max);
    }

    & .content-inner {
      margin-right: calc(var(--quote-width-max) - var(--large));
    }

    & .quote {
      width: var(--quote-width-max);
    }
  }
}
